-- For rationale, please read https://gitlab.com/gitlab-com/gl-infra/reliability/-/issues/14874#note_863790316
core.register_service("ci-gateway-redirect-307", "http", function(applet)
  applet:set_status(307)

  local c = core.concat()
  c:add("https://")
  c:add("<%= node['gitlab-haproxy']['frontend']['canonical_host'] %>")
  c:add(applet.path)
  c:add("?")
  c:add(applet.qs)
  applet:add_header("location",  c:dump())

  applet:start_response()
  applet:send("")
  applet:receive(1)
end)
