    <% if @ha_frontend['tcp_check_enable'] %>
    option tcp-check
    <% else %>
    option httpchk GET <%= @ha_frontend['httpchk_path'] %> HTTP/1.1\r\nHost:\ <%= @ha_frontend['httpchk_host'] %>
    <% end %>
