#---------------------------------------------------------------------
# Whitelisted IP Address Blocks for External API Usage
#---------------------------------------------------------------------
<% if node['gitlab-haproxy']['frontend']['whitelist']['api'].any? -%>
    <% node['gitlab-haproxy']['frontend']['whitelist']['api'].each do |network, comment| %>
# <%= comment %>
<%= network %>
    <% end %>
<% end -%>
